<!DOCTYPE html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<html lang="en" id="index" class="index1">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>advertisments</title>

        <h1 id="advertisment_title" style="margin-left: auto; margin-right: auto;text-align:center; color: white;font-size: 2cm;background-color: #282828;font-family: courier;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></h1>


    </head>
    <body >
        <div class="center" style="    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        background-color: #282828;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img id="image_advrtisment" 
            style="height: 700px; width: 700px; margin-left: 600px;">
        </div>


<div id="alldata"> </div>

</html>

<script type="text/javascript">

   

    var data_list = '<%- (data) %>';

    const data_obj = JSON.parse(data_list)    
    
    var activeScreen = (data_obj[1].screenNumber)

    console.log(activeScreen)

    $(document).ready(function(){
        index = 0;

        setInterval(swapAdvertisements1, data_obj[index++%data_obj.length].time);

        function swapAdvertisements1(){
            i = index++%data_obj.length;
            $('#advertisment_title').text(data_obj[i].title);
            $('#image_advrtisment').attr('src', data_obj[i].style);
        }
    });


    if(window.closed)
    {
        stopScreen();
    }


    async function stopScreen(){
        console.log("screen turn off");
        const screen = activeScreen
        const result = await fetch('/api/screenoff', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            screen
        })
        }).then((res) => res.json())
    
        if(result.status == 'error'){
            
            alert(result.error)
            stat = false;
        }
        else{
            stat=true;
            alert(result.status)
        }

}



</script>

