<!DOCTYPE html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<html lang="en" id="index" class="index1">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/public/assets/index1.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>advertisments</title>

        


    </head>
    <body >
        <h1 id="advertisment_title"></h1>
        <div class="center" >
            <img id="image_advrtisment">
        </div>


<div id="alldata"> </div>

</html>

<script type="text/javascript">

   

    var data_list = '<%- (data) %>';

    const data_obj = JSON.parse(data_list)    
    
    var activeScreen = (data_obj[1].screenNumber)

    console.log(activeScreen)

    $(document).ready(function(){
        index = 0;

        setInterval(swapAdvertisements1, data_obj[index++%data_obj.length].time);

        function swapAdvertisements1(){
            i = index++%data_obj.length;
            $('#advertisment_title').text(data_obj[i].title);
            $('#image_advrtisment').attr('src', data_obj[i].style);
        }
    });
    
    window.onbeforeunload = stopScreen;

    async function stopScreen(){
        console.log("screen turn off");
        const screen = activeScreen
        const result = await fetch('/api/screenoff', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            screen
        })
        }).then((res) => res.json())
    
        if(result.status == 'error'){
            
            stat = false;
        }
        else{
            stat=true;
        }

}

</script>


