<!DOCTYPE html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<html lang="en" id="index" class="index1">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>advertisments</title>

        <h1 id="advertisment_title" style="text-align:center;"></h1>

    </head>
    <body >
        <div class="center" style="    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: 30%;">
            <img id="image_advrtisment" style="height: 500px; width: 500px; border-radius: 20px;">
        </div>

<div id="alldata"> </div>

</html>

<script type="text/javascript">

    var data_list = '<%- (data) %>';

    const data_obj = JSON.parse (data_list)         

    $(document).ready(function(){
        index = 0;

        setInterval(swapAdvertisements1, data_obj[index++%data_obj.length].time);

        function swapAdvertisements1(){
            i = index++%data_obj.length;
            $('#advertisment_title').text(data_obj[i].title);
            $('#image_advrtisment').attr('src', data_obj[i].style);
        }

    });

</script>

