<!DOCTYPE html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/public/assets/login.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">

    <form id="login" >
        <h1>Login</h1>
        <input  type="text" autocomplete="off" id="username" placeholder="Username"  />
        <br/>
        <input  type="password" autocomplete="off" id="password" placeholder="Password" />
        <br>
        <br>
        <input id="login_btn" type="submit" value="Login" />
    </form>

    <script>
        const form = document.getElementById('login')
        form.addEventListener('submit', login)
        var stat;
        async function login(event) {
            event.preventDefault()
            const username = document.getElementById('username').value
            const password = document.getElementById('password').value
            const result = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    password
                })
            }).then((res) => res.json())
               
            if(result.status == 'error'){
                
                alert(result.error)
                stat = false;
            }
            else{
                stat=true;
                alert(result.status)
            }
            if(stat == true){
               $(location).attr('href', result.address)
            }
        }
        
    </script>

</body>
</html>