<!DOCTYPE html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="mainbody">
    <table>
        <tr>
        <th></th>
            
        </tr>
        <tr>
        <td>

        </td>
        </tr>

    </table>
</body>
</html>

<script type="text/javascript">

    var data_list = '<%- (data) %>';

    const data_obj = JSON.parse (data_list)         

    $(document).ready(function(){
            // $('#advertisment_title').text(data_obj[i].title);
            // $('#image_advrtisment').attr('src', data_obj[i].style);
            // $('#mainbody').append(data_obj);
            for(i=0;i<data_obj.length;i++){

            }
            console.log(Object.keys(data_obj[0]));
        }

    );

</script>