

h1{
    text-align: center;
    color: black;
}



th, td, p, input, h3 {
    font:15px 'Segoe UI';
}

th, td {
    border: solid 4px black;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    
}

table{
    border: solid 4px black;
    border-collapse: collapse;
    padding: 4px 5px;
    margin-left: auto;
    margin-right: auto;
   
}

th {
    font-weight:bold;
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.open-button {
  background-color: #0804e0;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
  margin-left: 80px;
  margin-right: auto;
  margin-bottom: 250px;
}


.form-popup {
  display: none;
  position: absolute;
  right: 800px;
  bottom: 100px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 450px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=image], .form-container input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=image]:focus, .form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn, .submit_btn {
  background-color: #0804e0;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #0804e0;
}

.form-container .submit_btn:hover, .open-button:hover {
  opacity: 1;
}